.main-container {
  background-color: #e6f2ff; /* Light blue background */
  padding: 4rem 1.5rem;
  font-family: 'Helvetica Neue', sans-serif;
}

.form-container {
  max-width: 400px;
  margin: auto;
  padding: 1.5rem;
  background-color: #fefefe; /* Very light grey background for form */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Slightly larger shadow */
  border-radius: 10px; /* More rounded corners */
}

.form-container fieldset {
  border: 1px solid #b3d1ff; /* Light blue border for the fieldset */
  margin: 0;
  padding: 0.5rem;
}

.form-container legend {
  font-size: 1.75rem; /* Slightly larger font size */
  color: #2a2a2a; /* Darker text color */
  margin-bottom: 1.5rem;
  font-weight: 600; /* Slightly bolder font */
  text-align: center;
}

.form-container .MuiTextField-root {
  margin-bottom: 1.25rem;
}

.form-container .MuiButton-contained {
  background-color: #4caf50; /* Green background for button */
  color: white;
  padding: 0.6rem 1.2rem;
  font-size: 1.1rem; /* Slightly larger font size for button */
}

.form-container .MuiButton-contained:hover {
  background-color: #388e3c; /* Darker green on hover */
}

.login-link {
  color: #1a73e8; /* Google blue for 'Login here' link */
}

.login-link:hover {
  text-decoration: underline;
  color: #1358a8; /* Slightly darker blue on hover */
}

/* Feel free to add more styles as needed */
